.footer, .logo, .card-overlay {
  display: flex;
  justify-content: center;
  align-items: center; }

.main-name, .main-heading {
  font-family: "Marck Script", cursive;
  text-align: center; }

.sub-name, .sub-heading {
  font-family: Roboto, sans-serif;
  color: #ccc;
  text-align: center; }

.card-img, .card-overlay {
  height: 100%;
  width: 100%; }

.card-overlay-heading, .card-overlay-paragraph {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center; }

.navbar-navigation-left, .navbar-navigation-right {
  width: 50vw;
  height: 100vh; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #303030; }

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('../images/bg.jpg?1625070193') no-repeat center;
  background-size: cover;
  position: relative; }
  .header .brand {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center; }
  .header-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.about-us {
  height: 100vh;
  display: flex;
  align-items: center; }
  .about-us-left {
    width: 40%;
    position: relative; }
    .about-us-left img {
      width: 100%; }
  .about-us-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box; }
    .about-us-right .stars {
      margin: 30px 0; }
    .about-us-right .star {
      font-size: 15px;
      color: #d8ae53;
      margin-left: 15px; }
    .about-us-right .description {
      font-family: Roboto, sans-serif;
      font-size: 20px;
      font-style: italic;
      color: #ccc;
      text-align: justify; }
      .about-us-right .description::first-letter {
        padding-left: 30px;
        font-size: 30px;
        color: #d8ae53; }

.gallery {
  margin-top: 20px; }

.cards-wrapper {
  display: flex;
  flex-wrap: wrap; }

.footer {
  padding: 70px 0;
  flex-direction: column; }
  .footer-header {
    display: flex;
    align-items: center;
    margin-bottom: 70px; }
  .footer-copyright-paragraph {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #ccc;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: capitalize; }

.social-media {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 70px; }
  .social-media-item {
    list-style: none; }
  .social-media-link {
    text-decoration: none;
    font-size: 50px;
    color: #ccc;
    transition: color 0.5s; }
    .social-media-link:hover {
      color: #d8ae53; }

.left-img {
  width: 300px; }

.navbar-navigation {
  display: flex; }
  .navbar-navigation-left {
    background-color: #303030; }
  .navbar-navigation-right {
    background-color: #232323; }

.logo {
  font-size: 70px;
  color: #d8ae53;
  width: 110px;
  height: 110px;
  text-decoration: none;
  border: 4px solid #d8ae53;
  border-radius: 50%; }

.main-name {
  font-size: 50px;
  color: #ccc;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: none;
  text-shadow: 3px 2px #303030; }

.sub-name {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }

.main-heading {
  font-size: 100px;
  font-weight: 300;
  color: #d8ae53;
  margin-bottom: 40px;
  text-shadow: 3px 2px #ccc; }

.sub-heading {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 40px; }

.main-button {
  width: 200px;
  height: 50px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #d8ae53;
  background-color: transparent;
  border: 2px solid #d8ae53;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: all 0.5s; }
  .main-button:hover {
    background-color: #d8ae53;
    color: #303030; }

.card {
  width: 33.3333%;
  height: 33vw;
  overflow: hidden;
  position: relative; }
  .card:hover .card-overlay {
    left: 0; }
  .card-img {
    object-fit: cover; }
  .card-overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: -100%;
    background-color: rgba(216, 174, 83, 0.6);
    color: #fff;
    flex-direction: column;
    transition: left 0.5s; }
    .card-overlay-btn {
      width: 150px;
      height: 40px;
      margin-top: 10px;
      color: #d8ae53;
      background-color: #fff;
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 1px solid #d8ae53;
      border-radius: 20px;
      outline: none;
      cursor: pointer;
      transition: all 0.5s; }
      .card-overlay-btn:hover {
        background-color: #d8ae53;
        color: #fff;
        box-shadow: 1px 1px rgba(255, 255, 255, 0.5); }
    .card-overlay-heading {
      font-size: 50px; }
    .card-overlay-paragraph {
      font-size: 30px; }

/*# sourceMappingURL=styles.css.map */
