.logo {
    font-size: 70px;
    color: $color-primary;
    @extend %flexLayout;
    width: 110px;
    height: 110px;
    text-decoration: none;
    border: 4px solid $color-primary;
    border-radius: 50%;
}


%fontMarck {
    font-family: $font-Marck;
    text-align: center;
}

%fontRoboto {
    font-family: $font-Roboto;
    color: $color-secondary;
    text-align: center;
}

.main-name {
    @extend %fontMarck;
    font-size: 50px;
    color: $color-secondary;
    @include textStyles(none);
}

.sub-name {
    @extend %fontRoboto;
    font-size: 18px;
    @include textStyles;
}

.main-heading {
    @extend %fontMarck;
    font-size: 100px;
    font-weight: 300;
    color: $color-primary;
    margin-bottom: 40px;
}

.sub-heading {
    @extend %fontRoboto;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}

.main-button {
    width: 200px;
    height: 50px;
    font-family: $font-Roboto;
    font-size: 18px;
    @include textStyles;
    color: $color-primary;
    background-color: transparent;
    border: 2px solid $color-primary;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: all 0.5s;

    &:hover {
        background-color: $color-primary;
        color: $color-dark;
    }
}