.navbar {
    position: relative;
    z-index: 25;

    &-navigation {
        display: flex;
        
        &-left {
            @extend %navbarSides;
            background-color: $color-dark;
            left: -50vw;
            @include mediaBuilder(790px){display: none;}
            transition: left 0.7s ease-in-out;

            .left-img {
                width: 50%;
                position: absolute;
                border-radius: 15px;
                box-shadow: 0 15px 40px rgba($color-black, 0.5);
                opacity: 0.8;
                
                @include imgBuilder(1, 15%, 15%);
                @include imgBuilder(2, 35%, 25%);
                @include imgBuilder(3, 55%, 35%);
            }
        }

        &-right {
            @extend %navbarSides;
            background-color: darken($color-dark, 5%);
            right: -50vw;
            @extend %flexLayout;
            @include mediaBuilder(790px) {
                width: 100vw;
                right: -100vw;
                background: image-url("nav-img-2.jpg");
                background-size: 120% 120%;
                animation: moveBG 7s ease-in-out 0s infinite;
            }
            transition: right 0.7s ease-in-out;
        }

        .nav-list {
            &-item {
                list-style: none;

                @include mediaBuilder(790px) {
                    background-color: rgba($color-dark, 0.05);
                    border: none;
                    border-radius: 30%;
                }
            }
            
            &-link {
                font-family: $font-Marck;
                font-size: 50px;
                @include textStyles(capitalize);
                color: $color-secondary;
                @include mediaBuilder(790px){color: $color-white;}
                text-decoration: none;
                display: block;
                margin: 20px;
                text-align: center;
                transition: all 0.7s;

                &:hover {
                    color: $color-secondary;
                    letter-spacing: 5px;
                    @include mediaBuilder(790px){
                        color: $color-primary;
                    }
                }
            }
        }
    }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
}
.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}
.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotate(90deg);
}
.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotate(-40deg);
}
.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}
.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotate(40deg);
}

.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba($color-black, 0.6), rgba($color-black, 0.4)), image-url("bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;

    .brand {
        @include centering(15%);
        display: flex;
        align-items: center;
    }

    &-banner {
        @include centering;
    }
}

.about-us {
    height: 100vh;
    display: flex;
    align-items: center;
    
    @include mediaBuilder(790px){
        background: image-url("about-image.png") no-repeat fixed center;
    }

    &-left {
        width: 40%;
        position: relative;

        img {
            width: 100%;
        }
    @include mediaBuilder(790px){display: none;}
    }

   
    
    &-right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
        box-sizing: border-box;
        
        @include mediaBuilder(790px) {
            background-color: rgba($color-dark, 0.5);
            width: 100vw;
            height: 100vh;
            padding: 40px 50px;
            justify-content: space-around;
        }

        .stars {
            margin: 30px 0;
        }

        .star {
            font-size: 15px;
            color: $color-primary;
            margin-left: 15px;
        }


        .description {
            font-family: $font-Roboto;
            font-size: 20px;
            font-style: italic;
            color: $color-secondary;
            text-align: justify;

            @include mediaBuilder(920px){font-size: 16px;}

            &::first-letter {
                padding-left: 30px;
                font-size: 30px;
                color: $color-primary;
            }
        }
    }
}

.gallery {
    margin-top: 20px;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 70px 0;
    @extend %flexLayout;
    flex-direction: column;

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }

    &-copyright-paragraph {
        font-family: $font-Roboto;
        font-size: 18px;
        color: $color-secondary;
        @include textStyles(capitalize);

        @include mediaBuilder(790px){font-size: 12px;}
    }
}

.social-media {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 70px;

    &-item {
        list-style: none;
    }

    &-link {
        text-decoration: none;
        font-size: 50px;
        color: $color-secondary;
        transition: color 0.5s;

        &:hover {
            color: $color-primary;
        }
    }
}